<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputPath" value="E:\swetha\Job\Brady_Code Challenge\Code Challenge\GenerationReport.xml"/>
    <add key="ReferenceDataPath" value="E:\swetha\Job\Brady_Code Challenge\Code Challenge\ReferenceData.xml"/>
    <add key="OutputPath" value="E:\swetha\Job\Brady_Code Challenge\Code Challenge\Output.xml"/>    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>